<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>floppyconvert.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] [%X{rom}] %-5level %logger{36} - %msg%n%ex{full}</pattern>
        </encoder>
    </appender>

    <appender name="FAILURES" class="ch.qos.logback.core.FileAppender">
        <file>failures.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %X{rom} - %msg%n%ex{full}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="FAILURES"/>
    </root>
</configuration>
